#call {
    background: #ffffff url(../img/callBackground.png) no-repeat center;
    background-size: contain;
    position: relative;
    height: 100%;
    width: 100%;
}

#compVideoWrap {
    position: fixed;
    top: 10px;
    background: #8f8f94 url(../img/person.png) no-repeat center;
    right: 10px;
    background-size: contain;
    width:120px;
    height:90px;
    z-index: 300;
    overflow: hidden;
    opacity: 0;
}

#patVideoWrap {
    width: 100%;
    height: 100%;
    z-index: 200;
}

#endCallWrap {
    position: fixed;
    bottom: 0px;
    height: 77px;
    width: 100%;
    background-color: #000000;

}

#endCall {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    width: 67px;
    height: 67px;
    background: transparent url(../img/endCall.png) no-repeat center;
    background-size: cover;
}