* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*font-size:12px;*/
	/*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    /*height:100%;*/
    /*margin:0px;*/
    /*padding:0px;*/
    /*width:100%;*/
}

#slideOutMenuWrap {
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
    -webkit-transform: translateX(-1000px);
    -webkit-transition: opacity .5s;
    opacity: 0;
}
    #exitMenuArea {
        position: fixed;
        height: 100%;
        width: 10%;
        right: 0;
    }

    #slideOutMenu {
        height: 100%;
        width: 90%;
        background-color: #f3f3f3;
        z-index: 1000;
        -webkit-transform: translateX(-1000px);
        -webkit-transition: -webkit-transform .5s;
    }

#slideOutMenuWrap.slideOutMenuAnimOpen {
    opacity:1;
    -webkit-transform: translateX(0px);
}

    #slideOutMenuWrap.slideOutMenuAnimOpen #slideOutMenu {
        -webkit-transform: translateX(0px);

    }

    .circleProfile {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #4891BF;
        float:left;
        color:white;
        line-height:50px;
        white-space: nowrap;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        text-transform: capitalize;
    }

    .profName {
        margin-left: 70px;
        font-size: 1.2em;
        line-height: normal;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
    }

    #addPatient .circleProfile {
        background-color: #ffffff;
        color: #037AFF;
        border: 1px solid grey;
        /*line-height: 42px;*/
        /*padding-left: 2px;*/
    }

/* Bottom Navigation Bar*/
.tabBar.bar.bar-tab {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
    border: none;

    display: table;
    table-layout: fixed;
}

    .tabBar a {
        /*display: block;*/
        /*float: left;*/
        /*width: 25%;*/
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        display: table-cell;


    }

    .tabBar a:not(:last-child) {
    /* inside border */
        box-shadow:-1px 0 #979797 inset;
    }

        .tabBar a img {
            height: 25px;
            -webkit-transform: translateX(-50%);
            display: block;
            position: absolute;
            bottom: 23px;
            left: 50%;
        }

        .tabBar a p {
            position: absolute;
            bottom: 6px;
            width: 100%;
            text-align: center;
            font-size: 11px;
            line-height: 11px;
            margin: 0;
        }

        .tabBar > a p.blue {
            color: #4A90E2;
        }

        .tabBar .barIndicator {
            background-color: #D8D8D8;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 5px;
        }

        .tabBar .barIndicator.blue {
            background-color: #4A90E2;
        }

.blackShade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: 1100;
}

/**/
.notificationModal {
    position: fixed;
    width: calc(100% - 30px);
    left: 15px;
    top:50%;
    -webkit-transform: translateY(-50%);
    z-index: 1200;
}

    .notificationModal header {
        background-color: #4A90E2;
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }
        .notifTitle {
            margin: 0;
            font-size: 24px;
        }

        .notifTime {
            font-size: 19px;
            margin: 0;
            color: #ffffff;
            margin-top: 13px;
        }

    .notificationModal .notificationContent {
        background-color: #ffffff;
        text-align: center;
        font-size: 17px;
        padding: 12px 5px;
    }
        .notificationContent span {
            font-weight: 700;
        }

        .notificationContent .circleProfile {
            float: none;
            margin-left: 50%;
            -webkit-transform: translateX(-50%);
            background-color: #7FD220;

            width: 50px;
            height: 50px;
            line-height:50px;
            font-size: 26px;
            font-weight: 500;
        }

        .notifBtnWrap {
            background-color: #ffffff;
            overflow: hidden;
            border-top: 1px solid #979797;
        }
            .notifBtn {
                text-align: center;
                padding: 12px 5px;
                float: left;
                width: 50%;
            }
            .notifViewDetails {
                box-shadow:-1px 0 #979797 inset;
            }

.hide {
    display: none;
}