#editProfile {
    height: 100%;
    overflow: scroll;
}

#editProfile label {
    width: 50%;
}

#editProfile input {
    width: 50%;
}

.inputClass {
    /*opacity: 0;*/
    color: grey;
    /*right: 0px;*/
    /*top: 50%;*/
    /*position: absolute;*/
    /*width: 7em;*/
    /*-webkit-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    /*background: none;*/
    /*border: none;*/
    /*outline: none;*/
    /*border: 1px solid #000000;*/
    /*display: block;*/
    text-align: right;
}

/*.profileLabel {*/
    /*float: left;*/
    /*width: 35%;*/
/*}*/

.multipleInput {
    /*width: 55%;*/
    right: 0px;
    border-bottom: none;
}