/*!
 * =====================================================
 * Ratchet v2.0.2 (http://goratchet.com)
 * Copyright 2014 Connor Sears
 * Licensed under MIT (https://github.com/twbs/ratchet/blob/master/LICENSE)
 *
 * v2.0.2 designed by @connors.
 * =====================================================
 */

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

a {
  color: #428bca;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent;
}
a:active {
  color: #3071a9;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

.content > * {
  -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
}

.bar-nav ~ .content {
  padding-top: 44px;
}

.bar-header-secondary ~ .content {
  padding-top: 88px;
}

.bar-footer ~ .content {
  padding-bottom: 44px;
}

.bar-footer-secondary ~ .content {
  padding-bottom: 88px;
}

.bar-tab ~ .content {
  padding-bottom: 50px;
}

.bar-footer-secondary-tab ~ .content {
  padding-bottom: 94px;
}

.content-padded {
  margin: 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  margin-top: 20px;
  font-size: 14px;
}

h6, .h6 {
  margin-top: 20px;
  font-size: 12px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.btn:active, .btn.active {
  color: inherit;
  background-color: #ccc;
}
.btn:disabled, .btn.disabled {
  opacity: .6;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border: 1px solid #428bca;
}
.btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #3071a9;
  border: 1px solid #3071a9;
}

.btn-positive {
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}
.btn-positive:active, .btn-positive.active {
  color: #fff;
  background-color: #449d44;
  border: 1px solid #449d44;
}

.btn-negative {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d9534f;
}
.btn-negative:active, .btn-negative.active {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #c9302c;
}

.btn-outlined {
  background-color: transparent;
}
.btn-outlined.btn-primary {
  color: #428bca;
}
.btn-outlined.btn-positive {
  color: #5cb85c;
}
.btn-outlined.btn-negative {
  color: #d9534f;
}
.btn-outlined.btn-primary:active, .btn-outlined.btn-positive:active, .btn-outlined.btn-negative:active {
  color: #fff;
}

.btn-link {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #428bca;
  background-color: transparent;
  border: 0;
}
.btn-link:active, .btn-link.active {
  color: #3071a9;
  background-color: transparent;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
}

.btn .badge {
  margin: -2px -4px -2px 4px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, .15);
}

.btn .badge-inverted,
.btn:active .badge-inverted {
  background-color: transparent;
}

.btn-primary:active .badge-inverted,
.btn-positive:active .badge-inverted,
.btn-negative:active .badge-inverted {
  color: #fff;
}

.btn-block .badge {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.btn .icon {
  font-size: inherit;
}

.bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.bar-header-secondary {
  top: 44px;
}

.bar-footer {
  bottom: 0;
}

.bar-footer-secondary {
  bottom: 44px;
}

.bar-footer-secondary-tab {
  bottom: 50px;
}

.bar-footer,
.bar-footer-secondary,
.bar-footer-secondary-tab {
  border-top: 1px solid #ddd;
  border-bottom: 0;
}

.bar-nav {
  top: 0;
}

.title {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 -10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 44px;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.title a {
  color: inherit;
}

.bar-tab {
  /*bottom: 0;*/
  /*display: table;*/
  /*width: 100%;*/
  /*height: 50px;*/
  /*padding: 0;*/
  /*table-layout: fixed;*/
  /*border-top: 1px solid #ddd;*/
  /*border-bottom: 0;*/
}
.bar-tab .tab-item {
  display: table-cell;
  width: 1%;
  height: 50px;
  color: #929292;
  text-align: center;
  vertical-align: middle;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: #428bca;
}
.bar-tab .tab-item .icon {
  top: 3px;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
}
.bar-tab .tab-item .icon ~ .tab-label {
  display: block;
  font-size: 11px;
}

.bar .btn {
  position: relative;
  top: 7px;
  z-index: 20;
  padding: 6px 12px 7px;
  margin-top: 0;
  font-weight: 400;
}
.bar .btn.pull-right {
  margin-left: 10px;
}
.bar .btn.pull-left {
  margin-right: 10px;
}

.bar .btn-link {
  top: 0;
  padding: 0;
  font-size: 16px;
  line-height: 44px;
  color: #428bca;
  border: 0;
}
.bar .btn-link:active, .bar .btn-link.active {
  color: #3071a9;
}

.bar .btn-block {
  top: 6px;
  padding: 7px 0;
  margin-bottom: 0;
  font-size: 16px;
}

.bar .btn-nav.pull-left {
  margin-left: -5px;
}
.bar .btn-nav.pull-left .icon-left-nav {
  margin-right: -3px;
}
.bar .btn-nav.pull-right {
  margin-right: -5px;
}
.bar .btn-nav.pull-right .icon-right-nav {
  margin-left: -3px;
}

.bar .icon {
  position: relative;
  z-index: 20;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
.bar .btn .icon {
  top: 3px;
  padding: 0;
}
.bar .title .icon {
  padding: 0;
}
.bar .title .icon.icon-caret {
  top: 4px;
  margin-left: -5px;
}

.bar input[type="search"] {
  height: 29px;
  margin: 6px 0;
}

.bar .segmented-control {
  top: 7px;
  margin: 0 auto;
}

.badge {
  display: inline-block;
  padding: 2px 9px 3px;
  font-size: 12px;
  line-height: 1;
  color: #333;
  background-color: rgba(0, 0, 0, .15);
  border-radius: 100px;
}
.badge.badge-inverted {
  padding: 0 5px 0 0;
  background-color: transparent;
}

.badge-primary {
  color: #fff;
  background-color: #428bca;
}
.badge-primary.badge-inverted {
  color: #428bca;
}

.badge-positive {
  color: #fff;
  background-color: #5cb85c;
}
.badge-positive.badge-inverted {
  color: #5cb85c;
}

.badge-negative {
  color: #fff;
  background-color: #d9534f;
}
.badge-negative.badge-inverted {
  color: #d9534f;
}

.card {
  margin: 10px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.card .table-view {
  margin-bottom: 0;
  border-top: 0;
  border-bottom: 0;
}
.card .table-view .table-view-divider:first-child {
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card .table-view .table-view-divider:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card .table-view-cell:last-child {
  border-bottom: 0;
}

.table-view {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table-view-cell {
  position: relative;
  padding: 11px 65px 11px 15px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.table-view-cell:last-child {
  border-bottom: 0;
}
.table-view-cell > a:not(.btn) {
  position: relative;
  display: block;
  padding: inherit;
  margin: -11px -65px -11px -15px;
  overflow: hidden;
  color: inherit;
}
.table-view-cell > a:not(.btn):active {
  background-color: #eee;
}
.table-view-cell p {
  margin-bottom: 0;
}

.table-view-divider {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: -1px;
  margin-left: 0;
  font-weight: 500;
  color: #999;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table-view .media,
.table-view .media-body {
  overflow: hidden;
}

.table-view .media-object.pull-left {
  margin-right: 10px;
}
.table-view .media-object.pull-right {
  margin-left: 10px;
}

.table-view-cell > .btn,
.table-view-cell > .badge,
.table-view-cell > .toggle,
.table-view-cell > a > .btn,
.table-view-cell > a > .badge,
.table-view-cell > a > .toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.table-view-cell .navigate-left > .btn,
.table-view-cell .navigate-left > .badge,
.table-view-cell .navigate-left > .toggle,
.table-view-cell .navigate-right > .btn,
.table-view-cell .navigate-right > .badge,
.table-view-cell .navigate-right > .toggle,
.table-view-cell .push-left > .btn,
.table-view-cell .push-left > .badge,
.table-view-cell .push-left > .toggle,
.table-view-cell .push-right > .btn,
.table-view-cell .push-right > .badge,
.table-view-cell .push-right > .toggle,
.table-view-cell > a .navigate-left > .btn,
.table-view-cell > a .navigate-left > .badge,
.table-view-cell > a .navigate-left > .toggle,
.table-view-cell > a .navigate-right > .btn,
.table-view-cell > a .navigate-right > .badge,
.table-view-cell > a .navigate-right > .toggle,
.table-view-cell > a .push-left > .btn,
.table-view-cell > a .push-left > .badge,
.table-view-cell > a .push-left > .toggle,
.table-view-cell > a .push-right > .btn,
.table-view-cell > a .push-right > .badge,
.table-view-cell > a .push-right > .toggle {
  right: 35px;
}

.content > .table-view:first-child {
  margin-top: 15px;
}

input,
textarea,
button,
select {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  height: 35px;
  -webkit-appearance: none;
  padding: 0 15px;
  margin-bottom: 15px;
  line-height: 21px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 20px;
}

input[type="search"]:focus {
  text-align: left;
}

textarea {
  height: auto;
}

select {
  height: auto;
  font-size: 14px;
  background-color: #f8f8f8;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.input-group {
  background-color: #fff;
}

.input-group input,
.input-group textarea {
  margin-bottom: 0;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-row {
  height: 35px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.input-row label {
  float: left;
  width: 35%;
  padding: 8px 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.1;
}

.input-row input {
  float: right;
  width: 65%;
  padding-left: 0;
  margin-bottom: 0;
  border: 0;
}

.segmented-control {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.segmented-control .control-item {
  display: table-cell;
  width: 1%;
  padding-top: 6px;
  padding-bottom: 7px;
  overflow: hidden;
  line-height: 1;
  color: #333;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 1px solid #ccc;
}
.segmented-control .control-item:first-child {
  border-left-width: 0;
}
.segmented-control .control-item:active {
  background-color: #eee;
}
.segmented-control .control-item.active {
  background-color: #ccc;
}

.segmented-control-primary {
  border-color: #428bca;
}
.segmented-control-primary .control-item {
  color: #428bca;
  border-color: inherit;
}
.segmented-control-primary .control-item:active {
  background-color: #cde1f1;
}
.segmented-control-primary .control-item.active {
  color: #fff;
  background-color: #428bca;
}

.segmented-control-positive {
  border-color: #5cb85c;
}
.segmented-control-positive .control-item {
  color: #5cb85c;
  border-color: inherit;
}
.segmented-control-positive .control-item:active {
  background-color: #d8eed8;
}
.segmented-control-positive .control-item.active {
  color: #fff;
  background-color: #5cb85c;
}

.segmented-control-negative {
  border-color: #d9534f;
}
.segmented-control-negative .control-item {
  color: #d9534f;
  border-color: inherit;
}
.segmented-control-negative .control-item:active {
  background-color: #f9e2e2;
}
.segmented-control-negative .control-item.active {
  color: #fff;
  background-color: #d9534f;
}

.control-content {
  display: none;
}
.control-content.active {
  display: block;
}

.popover {
  position: fixed;
  top: 55px;
  left: 50%;
  z-index: 20;
  display: none;
  width: 280px;
  margin-left: -140px;
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
          box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  opacity: 0;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
          transition: all .25s linear;
  -webkit-transform: translate3d(0, -15px, 0);
      -ms-transform: translate3d(0, -15px, 0);
          transform: translate3d(0, -15px, 0);
}
.popover:before {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  content: '';
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;
}
.popover.visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.popover .bar ~ .table-view {
  padding-top: 44px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, .3);
}

.popover .btn-block {
  margin-bottom: 5px;
}
.popover .btn-block:last-child {
  margin-bottom: 0;
}

.popover .bar-nav {
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popover .table-view {
  max-height: 300px;
  margin-bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  border-top: 0;
  border-bottom: 0;
  border-radius: 6px;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
     -moz-transition:    -moz-transform .25s, opacity 1ms .25s;
          transition:         transform .25s, opacity 1ms .25s;
  -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.modal.active {
  height: 100%;
  opacity: 1;
  -webkit-transition: -webkit-transform .25s;
     -moz-transition:    -moz-transform .25s;
          transition:         transform .25s;
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slider {
  width: 100%;
}

.slider {
  overflow: hidden;
  background-color: #000;
}
.slider .slide-group {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  -webkit-transition: all 0s linear;
     -moz-transition: all 0s linear;
          transition: all 0s linear;
}
.slider .slide-group .slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  vertical-align: top;
}

.toggle {
  position: relative;
  display: block;
  width: 74px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: background-color, border;
     -moz-transition-property: background-color, border;
          transition-property: background-color, border;
}
.toggle .toggle-handle {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: -webkit-transform, border, width;
     -moz-transition-property:    -moz-transform, border, width;
          transition-property:         transform, border, width;
}
.toggle:before {
  position: absolute;
  top: 3px;
  right: 11px;
  font-size: 13px;
  color: #999;
  text-transform: uppercase;
  content: "Off";
}
.toggle.active {
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
}
.toggle.active .toggle-handle {
  border-color: #5cb85c;
  -webkit-transform: translate3d(44px, 0, 0);
      -ms-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}
.toggle.active:before {
  right: auto;
  left: 15px;
  color: #fff;
  content: "On";
}
.toggle input[type="checkbox"] {
  display: none;
}

.content.fade {
  left: 0;
  opacity: 0;
}
.content.fade.in {
  opacity: 1;
}
.content.sliding {
  z-index: 2;
  -webkit-transition: -webkit-transform .4s;
     -moz-transition:    -moz-transform .4s;
          transition:         transform .4s;
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.content.sliding.left {
  z-index: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.content.sliding.right {
  z-index: 3;
  -webkit-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.navigate-left:after,
.navigate-right:after,
.push-left:after,
.push-right:after {
  position: absolute;
  top: 50%;
  display: inline-block;
  font-family: Ratchicons;
  font-size: inherit;
  line-height: 1;
  color: #bbb;
  text-decoration: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-font-smoothing: antialiased;
}

.navigate-left:after,
.push-left:after {
  left: 15px;
  content: '\e822';
}

.navigate-right:after,
.push-right:after {
  right: 15px;
  content: '\e826';
}

@font-face {
  font-family: Ratchicons;
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/ratchicons.eot");
  src: url("../fonts/ratchicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ratchicons.woff") format("woff"), url("../fonts/ratchicons.ttf") format("truetype"), url("../fonts/ratchicons.svg#svgFontName") format("svg");
}
.icon {
  display: inline-block;
  font-family: Ratchicons;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
}

.icon-back:before {
  content: '\e80a';
}

.icon-bars:before {
  content: '\e80e';
}

.icon-caret:before {
  content: '\e80f';
}

.icon-check:before {
  content: '\e810';
}

.icon-close:before {
  content: '\e811';
}

.icon-code:before {
  content: '\e812';
}

.icon-compose:before {
  content: '\e813';
}

.icon-download:before {
  content: '\e815';
}

.icon-edit:before {
  content: '\e829';
}

.icon-forward:before {
  content: '\e82a';
}

.icon-gear:before {
  content: '\e821';
}

.icon-home:before {
  content: '\e82b';
}

.icon-info:before {
  content: '\e82c';
}

.icon-list:before {
  content: '\e823';
}

.icon-more-vertical:before {
  content: '\e82e';
}

.icon-more:before {
  content: '\e82f';
}

.icon-pages:before {
  content: '\e824';
}

.icon-pause:before {
  content: '\e830';
}

.icon-person:before {
  content: '\e832';
}

.icon-play:before {
  content: '\e816';
}

.icon-plus:before {
  content: '\e817';
}

.icon-refresh:before {
  content: '\e825';
}

.icon-search:before {
  content: '\e819';
}

.icon-share:before {
  content: '\e81a';
}

.icon-sound:before {
  content: '\e827';
}

.icon-sound2:before {
  content: '\e828';
}

.icon-sound3:before {
  content: '\e80b';
}

.icon-sound4:before {
  content: '\e80c';
}

.icon-star-filled:before {
  content: '\e81b';
}

.icon-star:before {
  content: '\e81c';
}

.icon-stop:before {
  content: '\e81d';
}

.icon-trash:before {
  content: '\e81e';
}

.icon-up-nav:before {
  content: '\e81f';
}

.icon-up:before {
  content: '\e80d';
}

.icon-right-nav:before {
  content: '\e818';
}

.icon-right:before {
  content: '\e826';
}

.icon-down-nav:before {
  content: '\e814';
}

.icon-down:before {
  content: '\e820';
}

.icon-left-nav:before {
  content: '\e82d';
}

.icon-left:before {
  content: '\e822';
}






.icon-add-to-list:before {
  content: "\e600";
}

.icon-controller-fast-backward:before {
  content: "\e602";
}

.icon-creative-commons-attribution:before {
  content: "\e603";
}

.icon-creative-commons-noderivs:before {
  content: "\e604";
}

.icon-creative-commons-sharealike:before {
  content: "\e60a";
}

.icon-creative-commons:before {
  content: "\e60b";
}

.icon-document-landscape:before {
  content: "\e60c";
}

.icon-remove-user:before {
  content: "\e60d";
}

.icon-warning:before {
  content: "\e60e";
}

.icon-arrow-bold-down:before {
  content: "\e60f";
}

.icon-arrow-bold-left:before {
  content: "\e610";
}

.icon-arrow-bold-right:before {
  content: "\e611";
}

.icon-arrow-bold-up:before {
  content: "\e612";
}

.icon-arrow-down:before {
  content: "\e613";
}

.icon-arrow-left:before {
  content: "\e614";
}

.icon-arrow-long-down:before {
  content: "\e615";
}

.icon-arrow-long-left:before {
  content: "\e616";
}

.icon-arrow-long-right:before {
  content: "\e617";
}

.icon-arrow-long-up:before {
  content: "\e618";
}

.icon-arrow-right:before {
  content: "\e619";
}

.icon-arrow-up:before {
  content: "\e61a";
}

.icon-arrow-with-circle-down:before {
  content: "\e61b";
}

.icon-arrow-with-circle-left:before {
  content: "\e61c";
}

.icon-arrow-with-circle-right:before {
  content: "\e61d";
}

.icon-arrow-with-circle-up:before {
  content: "\e61e";
}

.icon-bookmark:before {
  content: "\e61f";
}

.icon-bookmarks:before {
  content: "\e620";
}

.icon-chevron-down:before {
  content: "\e621";
}

.icon-chevron-left:before {
  content: "\e622";
}

.icon-chevron-right:before {
  content: "\e623";
}

.icon-chevron-small-down:before {
  content: "\e624";
}

.icon-chevron-small-left:before {
  content: "\e625";
}

.icon-chevron-small-right:before {
  content: "\e626";
}

.icon-chevron-small-up:before {
  content: "\e627";
}

.icon-chevron-thin-down:before {
  content: "\e628";
}

.icon-chevron-thin-left:before {
  content: "\e629";
}

.icon-chevron-thin-right:before {
  content: "\e62a";
}

.icon-chevron-thin-up:before {
  content: "\e62b";
}

.icon-chevron-up:before {
  content: "\e62c";
}

.icon-chevron-with-circle-down:before {
  content: "\e62d";
}

.icon-chevron-with-circle-left:before {
  content: "\e62e";
}

.icon-chevron-with-circle-right:before {
  content: "\e62f";
}

.icon-chevron-with-circle-up:before {
  content: "\e630";
}

.icon-cloud:before {
  content: "\e631";
}

.icon-controller-fast-forward:before {
  content: "\e632";
}

.icon-controller-jump-to-start:before {
  content: "\e633";
}

.icon-controller-next:before {
  content: "\e634";
}

.icon-controller-paus:before {
  content: "\e635";
}

.icon-controller-play:before {
  content: "\e636";
}

.icon-controller-record:before {
  content: "\e637";
}

.icon-controller-stop:before {
  content: "\e638";
}

.icon-controller-volume:before {
  content: "\e639";
}

.icon-dot-single:before {
  content: "\e63a";
}

.icon-dots-three-horizontal:before {
  content: "\e63b";
}

.icon-dots-three-vertical:before {
  content: "\e63c";
}

.icon-dots-two-horizontal:before {
  content: "\e63d";
}

.icon-dots-two-vertical:before {
  content: "\e63e";
}

.icon-download:before {
  content: "\e63f";
}

.icon-emoji-flirt:before {
  content: "\e640";
}

.icon-flow-branch:before {
  content: "\e641";
}

.icon-flow-cascade:before {
  content: "\e642";
}

.icon-flow-line:before {
  content: "\e643";
}

.icon-flow-parallel:before {
  content: "\e644";
}

.icon-flow-tree:before {
  content: "\e645";
}

.icon-install:before {
  content: "\e646";
}

.icon-layers:before {
  content: "\e647";
}

.icon-open-book:before {
  content: "\e648";
}

.icon-resize-100:before {
  content: "\e649";
}

.icon-resize-full-screen:before {
  content: "\e64a";
}

.icon-save:before {
  content: "\e64b";
}

.icon-select-arrows:before {
  content: "\e64c";
}

.icon-sound-mute:before {
  content: "\e64d";
}

.icon-sound:before {
  content: "\e64e";
}

.icon-trash:before {
  content: "\e64f";
}

.icon-triangle-down:before {
  content: "\e650";
}

.icon-triangle-left:before {
  content: "\e651";
}

.icon-triangle-right:before {
  content: "\e652";
}

.icon-triangle-up:before {
  content: "\e653";
}

.icon-add-user:before {
  content: "\e657";
}

.icon-address:before {
  content: "\e658";
}

.icon-adjust:before {
  content: "\e659";
}

.icon-back-in-time:before {
  content: "\e663";
}

.icon-back:before {
  content: "\e664";
}

.icon-bar-graph:before {
  content: "\e665";
}

.icon-battery:before {
  content: "\e666";
}

.icon-beamed-note:before {
  content: "\e667";
}

.icon-bell:before {
  content: "\e668";
}

.icon-book:before {
  content: "\e66b";
}

.icon-calendar:before {
  content: "\e674";
}

.icon-camera:before {
  content: "\e675";
}

.icon-ccw:before {
  content: "\e676";
}

.icon-chat:before {
  content: "\e677";
}

.icon-check:before {
  content: "\e678";
}

.icon-circle-with-cross:before {
  content: "\e679";
}

.icon-circle-with-minus:before {
  content: "\e67a";
}

.icon-circle-with-plus:before {
  content: "\e67b";
}

.icon-circle:before {
  content: "\e67c";
}

.icon-clock:before {
  content: "\e680";
}

.icon-code:before {
  content: "\e681";
}

.icon-cog:before {
  content: "\e682";
}

.icon-copy:before {
  content: "\e685";
}

.icon-cross:before {
  content: "\e688";
}

.icon-cup:before {
  content: "\e689";
}

.icon-cw:before {
  content: "\e68a";
}

.icon-cycle:before {
  content: "\e68b";
}

.icon-database:before {
  content: "\e68c";
}

.icon-dial-pad:before {
  content: "\e68d";
}

.icon-direction:before {
  content: "\e68e";
}

.icon-document:before {
  content: "\e68f";
}

.icon-documents:before {
  content: "\e690";
}

.icon-drink:before {
  content: "\e691";
}

.icon-drive:before {
  content: "\e692";
}

.icon-edit:before {
  content: "\e694";
}

.icon-email:before {
  content: "\e695";
}

.icon-emoji-happy:before {
  content: "\e696";
}

.icon-emoji-neutral:before {
  content: "\e697";
}

.icon-emoji-sad:before {
  content: "\e698";
}

.icon-erase:before {
  content: "\e699";
}

.icon-eraser:before {
  content: "\e69a";
}

.icon-export:before {
  content: "\e69b";
}

.icon-eye:before {
  content: "\e69c";
}

.icon-forward:before {
  content: "\e6a6";
}

.icon-grid:before {
  content: "\e6ac";
}

.icon-hair-cross:before {
  content: "\e6ad";
}

.icon-heart-outlined:before {
  content: "\e6af";
}

.icon-heart:before {
  content: "\e6b0";
}

.icon-help-with-circle:before {
  content: "\e6b1";
}

.icon-help:before {
  content: "\e6b2";
}

.icon-home:before {
  content: "\e6b3";
}

.icon-inbox:before {
  content: "\e6b8";
}

.icon-info-with-circle:before {
  content: "\e6ba";
}

.icon-info:before {
  content: "\e6bb";
}

.icon-key:before {
  content: "\e6bc";
}

.icon-keyboard:before {
  content: "\e6bd";
}

.icon-level-down:before {
  content: "\e6c3";
}

.icon-level-up:before {
  content: "\e6c4";
}

.icon-light-down:before {
  content: "\e6c7";
}

.icon-light-up:before {
  content: "\e6c8";
}

.icon-link:before {
  content: "\e6ca";
}

.icon-list:before {
  content: "\e6cb";
}

.icon-location-pin:before {
  content: "\e6cc";
}

.icon-location:before {
  content: "\e6cd";
}

.icon-lock-open:before {
  content: "\e6ce";
}

.icon-lock:before {
  content: "\e6cf";
}

.icon-log-out:before {
  content: "\e6d0";
}

.icon-login:before {
  content: "\e6d1";
}

.icon-loop:before {
  content: "\e6d2";
}

.icon-magnet:before {
  content: "\e6d3";
}

.icon-magnifying-glass:before {
  content: "\e6d4";
}

.icon-mail:before {
  content: "\e6d5";
}

.icon-man:before {
  content: "\e6d6";
}

.icon-map:before {
  content: "\e6d7";
}

.icon-megaphone:before {
  content: "\e6da";
}

.icon-menu:before {
  content: "\e6db";
}

.icon-message:before {
  content: "\e6dc";
}

.icon-mic:before {
  content: "\e6dd";
}

.icon-minus:before {
  content: "\e6de";
}

.icon-mobile:before {
  content: "\e6df";
}

.icon-new-message:before {
  content: "\e6e5";
}

.icon-new:before {
  content: "\e6e6";
}

.icon-news:before {
  content: "\e6e7";
}

.icon-note:before {
  content: "\e6e8";
}

.icon-notification:before {
  content: "\e6e9";
}

.icon-old-phone:before {
  content: "\e6eb";
}

.icon-pencil:before {
  content: "\e6ee";
}

.icon-phone:before {
  content: "\e6ef";
}

.icon-plus:before {
  content: "\e6f2";
}

.icon-popup:before {
  content: "\e6f3";
}

.icon-power-plug:before {
  content: "\e6f4";
}

.icon-print:before {
  content: "\e6f7";
}

.icon-progress-empty:before {
  content: "\e6f8";
}

.icon-progress-full:before {
  content: "\e6f9";
}

.icon-progress-one:before {
  content: "\e6fa";
}

.icon-progress-two:before {
  content: "\e6fb";
}

.icon-publish:before {
  content: "\e6fc";
}

.icon-reply-all:before {
  content: "\e6ff";
}

.icon-reply:before {
  content: "\e700";
}

.icon-retweet:before {
  content: "\e701";
}

.icon-share-alternitive:before {
  content: "\e707";
}

.icon-share:before {
  content: "\e708";
}

.icon-squared-cross:before {
  content: "\e714";
}

.icon-squared-minus:before {
  content: "\e715";
}

.icon-squared-plus:before {
  content: "\e716";
}

.icon-star-outlined:before {
  content: "\e717";
}

.icon-star:before {
  content: "\e718";
}

.icon-stopwatch:before {
  content: "\e719";
}

.icon-suitcase:before {
  content: "\e71a";
}

.icon-swap:before {
  content: "\e71b";
}

.icon-switch:before {
  content: "\e71d";
}

.icon-tablet:before {
  content: "\e71e";
}

.icon-text:before {
  content: "\e722";
}

.icon-thumbs-down:before {
  content: "\e724";
}

.icon-thumbs-up:before {
  content: "\e725";
}

.icon-tools:before {
  content: "\e729";
}

.icon-typing:before {
  content: "\e72e";
}

.icon-unread:before {
  content: "\e72f";
}

.icon-user:before {
  content: "\e731";
}

.icon-users:before {
  content: "\e732";
}

.icon-up-nav:before {
  content: "\e81f";
}

.icon-and-download:before {
  content: "\e802";
}

.icon-and-left:before {
  content: "\e803";
}

.icon-and-more-vertical:before {
  content: "\e804";
}

.icon-and-more:before {
  content: "\e805";
}

.icon-and-right:before {
  content: "\e806";
}

.icon-and-search:before {
  content: "\e807";
}

.icon-and-share:before {
  content: "\e808";
}

.icon-and-up:before {
  content: "\e809";
}

.icon-back2:before {
  content: "\e80a";
}

.icon-down:before {
  content: "\e820";
}

.icon-gear:before {
  content: "\e821";
}

.icon-left:before {
  content: "\e822";
}

.icon-list3:before {
  content: "\e823";
}

.icon-pages:before {
  content: "\e824";
}

.icon-refresh:before {
  content: "\e825";
}

.icon-right:before {
  content: "\e826";
}

.icon-sound2:before {
  content: "\e827";
}

.icon-sound22:before {
  content: "\e828";
}

.icon-sound3:before {
  content: "\e80b";
}

.icon-sound4:before {
  content: "\e80c";
}

.icon-up:before {
  content: "\e80d";
}

.icon-bars:before {
  content: "\e80e";
}

.icon-caret:before {
  content: "\e80f";
}

.icon-and-down:before {
  content: "\e801";
}

.icon-close:before {
  content: "\e811";
}

.icon-code2:before {
  content: "\e812";
}

.icon-compose:before {
  content: "\e813";
}

.icon-down-nav:before {
  content: "\e814";
}

.icon-download4:before {
  content: "\e815";
}

.icon-edit2:before {
  content: "\e829";
}

.icon-forward4:before {
  content: "\e82a";
}

.icon-home4:before {
  content: "\e82b";
}

.icon-info2:before {
  content: "\e82c";
}

.icon-left-nav:before {
  content: "\e82d";
}

.icon-more-vertical:before {
  content: "\e82e";
}

.icon-more:before {
  content: "\e82f";
}

.icon-pause:before {
  content: "\e830";
}

.icon-person:before {
  content: "\e832";
}

.icon-play:before {
  content: "\e816";
}

.icon-plus2:before {
  content: "\e817";
}

.icon-right-nav:before {
  content: "\e818";
}

.icon-search:before {
  content: "\e819";
}

.icon-share3:before {
  content: "\e81a";
}

.icon-star-filled:before {
  content: "\e81b";
}

.icon-star2:before {
  content: "\e81c";
}

.icon-stop:before {
  content: "\e81d";
}

.icon-trash2:before {
  content: "\e81e";
}

.icon-check2:before {
  content: "\e810";
}

.icon-home5:before {
  content: "\e900";
}

.icon-home5:before {
  content: "\e900";
}

.icon-home2:before {
  content: "\e901";
}

.icon-home3:before {
  content: "\e902";
}

.icon-office:before {
  content: "\e903";
}

.icon-pencil3:before {
  content: "\e905";
}

.icon-pencil2:before {
  content: "\e906";
}

.icon-music2:before {
  content: "\e911";
}

.icon-connection:before {
  content: "\e91b";
}

.icon-podcast:before {
  content: "\e91c";
}

.icon-mic2:before {
  content: "\e91e";
}

.icon-book2:before {
  content: "\e91f";
}

.icon-books:before {
  content: "\e920";
}

.icon-file-empty:before {
  content: "\e924";
}

.icon-files-empty:before {
  content: "\e925";
}

.icon-file-text2:before {
  content: "\e926";
}

.icon-phone2:before {
  content: "\e942";
}

.icon-phone-hang-up:before {
  content: "\e943";
}

.icon-address-book:before {
  content: "\e944";
}

.icon-location2:before {
  content: "\e948";
}

.icon-compass3:before {
  content: "\e949";
}

.icon-history:before {
  content: "\e94d";
}

.icon-clock3:before {
  content: "\e94e";
}

.icon-clock2:before {
  content: "\e94f";
}

.icon-alarm:before {
  content: "\e950";
}

.icon-keyboard2:before {
  content: "\e955";
}

.icon-mobile2:before {
  content: "\e959";
}

.icon-tablet2:before {
  content: "\e95a";
}

.icon-drawer:before {
  content: "\e95c";
}

.icon-download5:before {
  content: "\e960";
}

.icon-upload4:before {
  content: "\e961";
}

.icon-undo:before {
  content: "\e965";
}

.icon-redo:before {
  content: "\e966";
}

.icon-undo2:before {
  content: "\e967";
}

.icon-redo2:before {
  content: "\e968";
}

.icon-forward5:before {
  content: "\e969";
}

.icon-reply2:before {
  content: "\e96a";
}

.icon-bubbles:before {
  content: "\e96c";
}

.icon-user2:before {
  content: "\e971";
}

.icon-users2:before {
  content: "\e972";
}

.icon-spinner3:before {
  content: "\e97c";
}

.icon-spinner11:before {
  content: "\e984";
}

.icon-search2:before {
  content: "\e986";
}

.icon-zoom-in:before {
  content: "\e987";
}

.icon-zoom-out:before {
  content: "\e988";
}

.icon-lock2:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-wrench:before {
  content: "\e991";
}

.icon-cog2:before {
  content: "\e994";
}

.icon-fire:before {
  content: "\e9a9";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-bin2:before {
  content: "\e9ad";
}

.icon-briefcase2:before {
  content: "\e9ae";
}

.icon-switch2:before {
  content: "\e9b6";
}

.icon-power-cord:before {
  content: "\e9b7";
}

.icon-clipboard2:before {
  content: "\e9b8";
}

.icon-list-numbered:before {
  content: "\e9b9";
}

.icon-list4:before {
  content: "\e9ba";
}

.icon-list2:before {
  content: "\e9bb";
}

.icon-tree2:before {
  content: "\e9bc";
}

.icon-menu4:before {
  content: "\e9c0";
}

.icon-cloud2:before {
  content: "\e9c1";
}

.icon-link2:before {
  content: "\e9cb";
}

.icon-attachment:before {
  content: "\e9cd";
}

.icon-eye2:before {
  content: "\e9ce";
}

.icon-bookmark2:before {
  content: "\e9d2";
}

.icon-bookmarks2:before {
  content: "\e9d3";
}

.icon-sun:before {
  content: "\e9d4";
}

.icon-contrast:before {
  content: "\e9d5";
}

.icon-brightness-contrast:before {
  content: "\e9d6";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-half:before {
  content: "\e9d8";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-heart2:before {
  content: "\e9da";
}

.icon-plus3:before {
  content: "\ea0a";
}

.icon-minus2:before {
  content: "\ea0b";
}

.icon-info3:before {
  content: "\ea0c";
}

.icon-cancel-circle:before {
  content: "\ea0d";
}

.icon-blocked:before {
  content: "\ea0e";
}

.icon-cross2:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-checkmark2:before {
  content: "\ea11";
}

.icon-spell-check:before {
  content: "\ea12";
}

.icon-exit:before {
  content: "\ea14";
}

.icon-play2:before {
  content: "\ea15";
}

.icon-volume-medium:before {
  content: "\ea27";
}

.icon-volume-low:before {
  content: "\ea28";
}

.icon-volume-mute:before {
  content: "\ea29";
}

.icon-volume-mute2:before {
  content: "\ea2a";
}

.icon-volume-increase:before {
  content: "\ea2b";
}

.icon-volume-decrease:before {
  content: "\ea2c";
}

.icon-loop3:before {
  content: "\ea2d";
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-shuffle2:before {
  content: "\ea30";
}

.icon-arrow-up-left:before {
  content: "\ea31";
}

.icon-arrow-up3:before {
  content: "\ea32";
}

.icon-arrow-up-right:before {
  content: "\ea33";
}

.icon-arrow-right3:before {
  content: "\ea34";
}

.icon-arrow-down-right:before {
  content: "\ea35";
}

.icon-arrow-down3:before {
  content: "\ea36";
}

.icon-arrow-down-left:before {
  content: "\ea37";
}

.icon-arrow-left3:before {
  content: "\ea38";
}

.icon-arrow-up-left2:before {
  content: "\ea39";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-up-right2:before {
  content: "\ea3b";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-down-right2:before {
  content: "\ea3d";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.icon-arrow-down-left2:before {
  content: "\ea3f";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-circle-left:before {
  content: "\ea44";
}

.icon-opt:before {
  content: "\ea51";
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-radio-checked:before {
  content: "\ea54";
}

.icon-radio-checked2:before {
  content: "\ea55";
}

.icon-table:before {
  content: "\ea70";
}

.icon-table2:before {
  content: "\ea71";
}

.icon-share4:before {
  content: "\ea7d";
}

.icon-share2:before {
  content: "\ea82";
}
