#login {
    background-color: #4B92BE;
}

#loginWrapper {
    width: 100%;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    /*margin-top: 20%;*/
    /*background-color: lightgrey;*/
    border: solid 1px grey;
    background-color: white;
}

#logo {
    padding: 25px;
    border-bottom: solid 1px grey;
    background-color: #4B92BE;
}

#nfLogo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

#title {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
}

#title p {
    clear: right;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 25pt;
    line-height: .7em;
    color: white;
}

.formWrap {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    padding-top: 15px;
    border-bottom: solid 1px grey;
}

#passwordWrap {
    border-bottom: none;
}

.formIcon {
    margin-left: 5%;
    margin-top: 5%;
    float: left;
}

#usernameIcon {
    width: 25px;
    height: 23px;
}

#passwordIcon {
    width: 18px;
    height: 22px;
    margin-left: calc(5% + 7px);
}

.formInput {
    outline: 0;
    border: 0;
}

#buttonWrap {
    border-top: solid 1px grey;
    background-color: #D7E7F0;
}

#signupButton {
    width: 50%;
    margin: 10% 25% 10% 25%;
}

#signUp {
    font-size: 8pt;
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    color: #0D3C59;
}

#quoteWrap {
    width: 80%;
    margin: 20% 10% 10% 10%;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    background-color: #4B92BE;
    padding-top: 5px;
}

#quoteWrap p {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}