#alertView {
    margin-bottom: 0;
}

.subheader {
    margin-left: 10px;
}

#addReminderAlert {
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 21px;
}

.reminderAlertCard {
    padding-left: 0;
}

.deleteActionWrap {
    width: 45px;
    height: 45px;
}

.notClicked {
    width: 40px;
    height: 40px;
    padding: 10px;
    float: left;
}

.hasClicked {
    width: 40px;
    height: 40px;
    color: white;
    background-color: red;
    font-size: 8pt;
    text-align: center;
    left: 0;
    float: left;
    padding-top: 10px;
    display: none;
}

.editReminderAlert {
    overflow: hidden;
}

.alertTime {
    float: left;
}

#dateTime {
    width: 100%;
    display: block;
}

#remName {
    height: 65px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20pt;
}

.remTitle {
    display: block;
    font-size: 10pt;
    width: 100%;
}

.remDateTime {
    padding: 15px;
    height: 75px;
    position: relative;
}

.remLabel {
    overflow: hidden;
}

#remDateWrap {
    width: 60%;
    float: left;
    border-right: grey solid 1px;
}



#remTimeWrap {
    width: 40%;
    overflow: hidden;
    /*position: relative;*/
}

/* Invisible time input*/
#remDate {
    opacity: 0;
    color:rgba(255,255,255, 0);
    left: 15px;
    position: absolute;
    width: 7em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: 1px solid #000000;
    display: block;
}

#remTime {
    opacity: 0;
    color:rgba(255,255,255, 0);
    right: 15px;
    position: absolute;
    width: 7em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: 1px solid #000000;
    display: block;
}

.eventSpan {
    color: grey;
}

.optionClass {
    opacity: 0;
    color:rgba(255,255,255, 0);
    right: 0px;
    top: 50%;
    position: absolute;
    width: 7em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: 1px solid #000000;
    display: block;
}

.optionDisplay {
    right: 35px;
    position: absolute;
    display: inline-block;
    color: grey;
}

#everyone {
    color: black;
}

.selectRepeat {
    opacity: 0;
    color:rgba(255,255,255, 0);
    right: 0px;
    top: 50%;
    position: absolute;
    /*width: 7em;*/
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: 1px solid #000000;
    display: inline-block;
    height: 1em;
    margin: 0px;
}

.repeatLabel {
    display: inline-block;
    position: absolute;
    width: 15em;
    /*right: 15px;*/
}

.repeatString {
    color: grey;
}

.notifications {
    width: 100%;
}

input {
    color: grey;
}

#doneCreateReminder {
    right: 10px;
}

#addAlert {
    color: grey;
}

#deleteButton {
    width: 80%;
    margin-left: 10%;
}