#profile {
    height: calc(100% - 50px);
    overflow: scroll;
}

#profileName {
    font-size: 18pt;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 35%;
}

/*#address p {*/
    /*right: 35px;*/
    /*color: grey;*/
    /*background-color: yellow;*/
    /*display: block;*/
    /*position: absolute;*/
    /*clear: right;*/
/*}*/

#meds p, #address p, #allergies p {
    display: block;
    width: 100%;
    text-align: right;
}

.optionDisplay {
    right: 13px;
    position: absolute;
    display: inline-block;
    color: grey;
}

.subheader {
    margin-left: 10px;
}

.profileLabel {
    float: left;
}

.profileItem {
    overflow: hidden;
}