#reminders {
    height: calc(100% - 60px);
}

#createEvent {
    background-color: #ffffff;
    padding: 13px 23px;
    border: 1px solid #979797;
    color: #000000;
    margin-top: 21px;
    margin-bottom: 21px;
}
    #createEvent span {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        -webkit-transform: translateY(-3px);
    }

    #createEvent .plusIcon{
        height: 25px;
        margin-right: 7px;
        -webkit-transform: translateY(2px);
    }

a.reminderCard, #createEvent {
    display: block;
    width: 86.666666666%;
    margin-left: 6.6666666%;
    font-size: 20px;
}

    .table-view {
        margin-bottom: 14px;
    }

    .eventTitle {
        padding: 10px 15px;
        color: white;
        background-color: #4A90E2;
        font-weight: 500;
    }

    .table-view-cell {
        padding: 10px 13px;
    }

        .reminderTime {
            font-weight: 500;
            font-size: inherit;
            color: #000000;
        }


.icon-phone2 {
	margin-right: 10px;
    color: #7ED321;
}

a.card {
    display: block;
}

/* Day container for Reminders*/
.dayHeader {
    font-size: 20px;
    font-weight: 300;
    margin-left: 6.6666666%;
}

.dayWrap:last-child {
    margin-bottom: 10px;
}

