#settings {
    height: calc(100% - 50px);
}

/* Invisible time input*/
.optionClass {
    opacity: 0;
    color:rgba(255,255,255, 0);
    right: 0px;
    top: 50%;
    position: absolute;
    width: 7em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: 1px solid #000000;
    display: block;
}

.optionDisplay {
    right: 35px;
    position: absolute;
    display: inline-block;
    color: grey;
}

.subheader {
    margin-left: 10px;
}

#welcomeTimeLabel {
    display: inline-block;
    position: absolute;
    right: 15px;
}

#welcomeTimeString {
    color: grey;
}

#welcomeTimeLabel .icon-edit {
    margin-left: 5px;
}

/*#addTime {*/
    /*opacity: 0.2;*/
/*}*/